---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{ title: 'Homepage' }}>
  <p>Homepage:</p>

  <h1>
    hello world   
  </h1>
</StarlightPage>

